*{
  box-sizing: border-box;
  margin:0;
  font-family: 'Karla', sans-serif;
}

main{
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100px;
}


.header{
    display: flex;
    align-items: center;
    height: 77px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 26px;
}

.header-logo{
    height: 100%;
    margin-right: 6px;
    width: 31px;
}

.header-cont{
    font-size: 1.2rem;
    margin-right: auto;
}

.headercont-2{
    font-size: 0.80rem;
    font-weight: 500;
}

.form{
    display: grid;
    grid-template: 50px 50px / 1fr 1fr;
    gap: 17px;
    margin-top: 12px;
    width: 50%;
}

.form-input{
   border-radius: 6px;
   border: 1px solid #D5D4D8;
   text-indent: 5px;
   font-size: 0.9rem;
}

.form-button{
    grid-column: 1/-1;
    border-radius: 6px;
    border: none;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
}

.meme-image{
   max-width: 100%;
}
.meme-images{

   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 20%;
}

.top {
    top: 38%;
}
